.container {
  display: flexbox;
  padding: 25px;
}

.App {
  background-image: url("./images/bg15.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  color: #d46503;
}
