.body {
  background-image: url("BG2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App footer {
  margin-top: 5px;
  font-size: 16px;
  color: #332f2f;
  font-weight: 300;
}
