.Weather {
  max-width: 680px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: rgba(185, 224, 243, 0.592) 11.1%;
  box-shadow: 7px 7px 28px 7px rgba(0, 0, 0, 0.2);
}

.Weather h1 {
  color: #0f0f0f;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: #26262c;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather a {
  text-decoration: none;
}

.Weather li:first-letter {
  text-transform: capitalize;
}

/* Weather canvas
{
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}


.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 65px;
  font-weight: 400;
  margin-right: 5px;
  line-height: 64px;
  float: left;
}

.Weather .units {
  position: relative;
  top: -35px;
  font-size: 17px;
  text-decoration: none;
} */

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  position: relative;
  top: -34px;
}

.unit .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active .hover {
  text-decoration: none;
}
