.weather-app-wrapper {
  max-width: 600px;
  margin: 30px 0 15px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: rgb(185, 224, 243) 11.1%;
  box-shadow: 7px 7px 28px 7px rgba(0, 0, 0, 0.2);
}
